    {% load static %}   
    {%include "layout/partials/customer/wheader.html" %}   
                        
                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                    {% for i in custzview %}
                    <div class="col">
                      <div class="product-item">
                        <form action="{% url 'app_core:custz_smoothie' %}" method="POST">
                    {% csrf_token %}  
                        <!-- <span class="badge bg-success position-absolute m-3">-30%</span> -->
                        <!-- <a href="" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a> -->
                        <figure>
                          <a href="index.html" title="Product Title">
                            <img src="/media/{{i.simg}}"  class="tab-image">
                          </a>
                        </figure>
                        <input type="hidden" name="id" value="{{i.id}}">
                         <input type="hidden" name="price" value="{{i.price}}">
                        <h3>{{i.name}}</h3>
                        <!-- <span class="qty">1 Unit</span> -->
                        
                        <span class="price" id="price-{{i.id}}" data-price="{{i.price}}">{{i.price}}</span>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" name="quantity" class="form-control input-number" value="100">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                           <button type="submit" class="btn btn-success"> Add to cart </button><iconify-icon icon="uil:shopping-cart"></iconify-icon>
                        </div>
                      </div>
                    </div>
                     </form>
                    {% endfor %}
                  </div>

      <div class="offcanvas-body">
        <div class="order-md-last">
          <h4 class="text-end mb-3"></h4>
            <span class="text-primary">Your Smoothie</span>
            <span class="badge bg-primary rounded-pill">{{cn}}</span>
          </h4>
                    {% for i in cr %}

<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-sm cart-item"
      data-price="{{ i.smoothie.price }}">

    <div>
      <h6 class="my-0">{{ i.ingredients.name }}</h6>

      <div class="input-group product-qty">
        <button type="button"
                class="quantity-left-minus btn btn-danger btn-number"
                data-type="minus">-</button>

        <input type="text"
               class="form-control input-number"
               value="{{ i.quantity }}">

        <button type="button"
                class="quantity-right-plus btn btn-success btn-number"
                data-type="plus">+</button>
      </div>
    </div>

    <!-- Item total -->
  <div class="text-end">
    <span class="text-body-secondary item-total">
      {{ i.price   }}
    </span>

    <!-- 🗑 Remove Button -->
    <button class="btn btn-sm btn-outline-danger remove-item mt-2">
      Remove
    </button>
  </div>

  </li>
</ul>
          {% endfor %}
         <h5> <p style="text-align: center;">{{t}}&nbsp;&nbsp;</p></h>
          <a href ="{% url 'app_core:booking' 'custom' %}"> <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button></a>
        </div>
      </div>     
      
      
<script>
  
document.addEventListener("DOMContentLoaded", function() {

    document.querySelectorAll(".btn-number").forEach(button => {
        button.addEventListener("click", function() {

            let type = this.getAttribute("data-type");//minus/plus
            let container = this.closest(".product-item");//div

            let qtyInput = container.querySelector(".input-number");//quantity
            let priceDisplay = container.querySelector(".price");
            let priceInput = container.querySelector("input[name='price']");

            let quantity = parseInt(qtyInput.value);
            let unitPrice = parseFloat(priceDisplay.getAttribute("data-price"));

            if (type === "plus") {
                quantity += 1;
            } else if (type === "minus" && quantity > 1) {
                quantity -= 1;
            }

            qtyInput.value = quantity;

            let total = quantity/100 * unitPrice;

            // Update visible price
            priceDisplay.innerText = total;

            // Update form price input (very important)
            //priceInput.value = total;
        });
    });

});
</script> 

<script>
document.addEventListener("DOMContentLoaded", function() {

    function updateCart() {
        let grandTotal = 0;

        document.querySelectorAll(".cart-item").forEach(item => {
            let unitPrice = parseFloat(item.dataset.price);
            let qtyInput = item.querySelector(".input-number");
            let quantity = parseInt(qtyInput.value);

            let itemTotal = unitPrice * quantity;

            item.querySelector(".item-total").innerText = itemTotal.toFixed(2);

            grandTotal += itemTotal;
        });

        document.getElementById("cart-total").innerText = grandTotal.toFixed(2);
    }

    document.querySelectorAll(".btn-number").forEach(button => {
        button.addEventListener("click", function() {

            let item = this.closest(".cart-item");
            let qtyInput = item.querySelector(".input-number");
            let quantity = parseInt(qtyInput.value);

            if (this.dataset.type === "plus") {
                quantity++;
            } else if (this.dataset.type === "minus" && quantity > 1) {
                quantity--;
            }

            qtyInput.value = quantity;

            updateCart();
        });
    });

});
</script> 

    {%include "layout/partials/customer/wfooter.html" %}

    