{%include "layout/partials/admin/header.html" %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Ingredients</h5>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'app_core:ing_upd' i.id%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="name" value="{{i.name}}">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Availability</label>
                        <select class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="avail">
                          <label for="exampleInputEmail1" class="form-label">Availability</label>
                        <option value="yes" {% if i.availability == 'yes' %} selected {% endif %}>yes</option>
                        <option value="no" {% if i.availability == 'no' %} selected {% endif %}>no</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Price</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="price" value="{{i.price}}">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Calorie</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="calorie" value="{{i.calorie}}">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Image</label>
                         <img src="/media/{{i.simg}}" style="width : 100px;height: 100px;">
                        <input type="file" class="form-control" id="exampleInputPassword1" name="cimg" value="{{i.img}}">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <!-- <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">image</label>
                        <img src="/media/{{v.img}}" style="width : 100px;height: 100px;">
                        <input type="file" class="form-control" id="exampleInputPassword1" name="cimg" value="{{v.img}}">
                    </div> -->
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <!-- <h5 class="card-title fw-semibold mb-4">Disabled forms</h5> -->
        <!-- <div class="card mb-0">
            <div class="card-body">
                <form>
                    <fieldset disabled>
                        <legend>Disabled fieldset example</legend>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Disabled input</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                        </div>
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Disabled select menu</label>
                            <select id="disabledSelect" class="form-select">
                                <option>Disabled select</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                                <label class="form-check-label" for="disabledFieldsetCheck">
                                    Can't check this
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div> -->
    </div>
</div>
{%include "layout/partials/admin/footer.html" %}