{% load static %}
{% include "layout/partials/admin/header.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row">
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Top Selling Smoothies</div>
    </div>
    <div class="card-body">
      <div class="chart-container" style="min-height:300px">
        <canvas id="smoothiePieChart"></canvas>
      </div> 
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Top Customers</div>
    </div>
    <div class="card-body">
      <div class="chart-container" style="min-height:300px">
        <canvas id="customerPieChart"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
<script>
/* Smoothie Chart */
const smoothieCtx = document.getElementById('smoothiePieChart').getContext('2d');

new Chart(smoothieCtx, {
    type: 'pie',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
            data: {{ data|safe }},
            backgroundColor: [
                '#FF6384',
                '#36A2EB',
                '#FFCE56',
                '#4BC0C0',
                '#9966FF',
                '#FF9F40'
            ]
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'right'
            }
        }
    }
});


/* Customer Chart */
const customerCtx = document.getElementById('customerPieChart').getContext('2d');

new Chart(customerCtx, {
    type: 'pie',
    data: {
        labels: {{ lab|safe }},
        datasets: [{
            data: {{ dat|safe }},
            backgroundColor: [
                '#FF6384',
                '#36A2EB',
                '#FFCE56',
                '#4BC0C0',
                '#9966FF',
                '#FF9F40'
            ]
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'right'
            }
        }
    }
});
</script>
{%include "layout/partials/admin/footer.html" %}